<html>
    <head>
        <title>Loop in templates</title>
    </head>
    <body>
        <h1>loops</h1>
        <h2>Students</h2>
        {{students}}
        <br><br>
        <ol>
        {% for stu in students %}
            <li>{{stu}}</li>
        {% endfor %}
        </ol>
        <h2>Numbers</h2>
        <ul>
            {% for n in numbers %}
                {% if n%2==0 %}
                    <li>{{n}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>